body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #f4f4f4;
    padding: 20px;
}

h1 {
    color: #333;
}

.buttons {
    margin: 20px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: #4caf50;
    color: #fff;
}
button:hover {
    background: #45a049;
}

.score {
    font-size: 20px;
    margin-top: 20px;
}

.results {
    font-size: 18px;
    margin-top: 15px;
    color: #333;
}

.image {
    max-width: 100%;
    height: 350px;
}

.rps {
    border: solid 2px blue;
    background-color: lightblue;
}
